.venv
*.egg-info/
*.csv
*.json
*.db
.activate_env
tmp*
__pycache__
target/
dbt_packages/
logs/
*.duckdb
*.env
**/.logs_queue
**/.nux
**/.telemetry
**/history
**/schedules
**/storage
**/stakings0
**/bup**
**/.cache