# Project Root Directory
export PSS_PROJECT_ROOT_DIR="${PWD}"

# Project Profile (e.g., dev, prod)
export PSS_PROJECT_PROFILE="dev"

# Google Application Credentials Path
export GOOGLE_APPLICATION_CREDENTIALS="${PSS_PROJECT_ROOT_DIR}/.000-01-secv/polkastakesphere-v1d0-0764fa38a438.json"

export DAGSTER_HOME="${PWD}/polkastakesphere_dm"

# Loc-House Lev-0 Staking Ingestion Sink Path
export PSS_LHOUSE_LEV0_STAKING_INGESTION_SINK="${PSS_PROJECT_ROOT_DIR}/data-vault/loc-house/lev-0/stakings0"

# Loc-House Lev-0 Staking Transform Metrics Source Path (wildcard for files)
export PSS_LHOUSE_LEV0_STAKING_TRANSFORM_METRICS_SOURCE="${PSS_PROJECT_ROOT_DIR}/data-vault/loc-house/lev-0/stakings0/*/*/*.parquet"

# Staking 0 Transformed Metrics Sink Path (duckdb)
export PSS_STAKING0_TRANSFORMED_METRICS_SINK="${PSS_PROJECT_ROOT_DIR}/data-vault/db/transform_stakings0.duckdb"
